@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }

  body {
    background-color: rgb(57, 57, 57);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 56rem;
  }
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #home,
  #projects,
  #about,
  #contact {
    min-height: 100vh;
    scroll-margin-top: 4rem;
  }
}
.cursor-typing:after {
  content: "|";
}

.cursor:after {
  content: "|";
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
